{{#albumList}}
  <li>
    <div class="clickable expandable" id="{{albumid key}}" data-key="{{key}}" data-type="album">
      <div class="ui-icon ui-icon-triangle-1-e"></div>
      <span>{{#if name}}{{name}}{{else}}[Unknown Album]{{/if}}</span>
    </div>
    <ul style="display: none;">
      {{#trackList}}
        <li>
          <div class="clickable" id="{{trackid key}}" data-key="{{key}}" data-type="track">
            <span>{{#if track}}{{track}}. {{/if}}{{#if compilation}}{{artistName}} - {{/if}}{{name}}</span>
          </div>
        </li>
      {{/trackList}}
    </ul>
  </li>
{{/albumList}}
