<ul id="menu" class="ui-widget-content ui-corner-all">
  <li><a href="#" class="queue hoverable">Queue</a></li>
  <li><a href="#" class="queue-next hoverable">Queue Next</a></li>
  <li><a href="#" class="queue-random hoverable">Queue in Random Order</a></li>
  <li><a href="#" class="queue-next-random hoverable">Queue Next in Random Order</a></li>
  <li>
    {{#if status.delete_enabled}}
      {{#if permissions.admin}}
        <a href="#" class="delete hoverable">Delete</a>
      {{else}}
        <span title="Delete is disabled: insufficient privileges. See Settings.">Delete</span>
      {{/if}}
    {{else}}
      <span title="Delete is disabled due to invalid server configuration.">Delete</span>
    {{/if}}
  </li>
  <li>
    {{#if status.download_enabled}}
      {{#if track}}
        <a href="library/{{track.file}}" class="download hoverable" target="_blank">Download</a>
      {{/if}}
      {{#if download_type}}
        <a href="download/{{download_type}}/{{escaped_key}}" class="download hoverable" target="_blank">Download</a>
      {{/if}}
      {{#if download_multi}}
        <a href="download/custom" class="download-custom hoverable">Download</a>
      {{/if}}
    {{else}}
      <span title="Download is disabled due to invalid server configuration.">Download</span>
    {{/if}}
  </li>
</ul>

