{{#item_list}}
  {{#track}}
    <li>
      <div class="clickable" id="{{storedplaylisttrackid file}}" data-key="{{file}}" data-type="track">
        <span>
          {{#if track}}{{track}}. {{/if}}{{#if artist.name}}{{artist.name}} - {{/if}}{{name}}
        </span>
      </div>
    </li>
  {{/track}}
{{/item_list}}
