{{#if playlist}}
  {{#playlist}}
    <div class="pl-item" id="playlist-track-{{id}}" data-id="{{id}}">
      <span class="track">{{track.track}}</span>
      <span class="title">{{track.name}}</span>
      <span class="artist">{{track.artistName}}</span>
      <span class="album">{{track.albumName}}</span>
      <span class="time">{{time track.duration}}</span>
    </div>
  {{/playlist}}
{{/if}}

