<h1>Last.fm</h1>
{{#if lastfm.username}}
  <p>
    Authenticated as
    <a href="http://last.fm/user/{{lastfm.username}}">{{lastfm.username}}</a>.
    <button class="signout">Sign out</button>
  </p>
  <p>
    Scrobbling is <input type="checkbox" id="toggle-scrobble"{{#if lastfm.scrobbling_on}} checked="checked"{{/if}}><label for="toggle-scrobble">{{#if lastfm.scrobbling_on}}On{{else}}Off{{/if}}</label>
  </p>
{{else}}
  <p>
    <a href="{{lastfm.auth_url}}">Authenticate with Last.fm</a>
  </p>
{{/if}}
{{#if dynamic_mode_enabled}}
<h1>Dynamic Mode</h1>
  <table>
    <tr>
      <td>History Size</td>
      <td><input type="text" id="history-size"/></td>
    </tr>
    <tr>
      <td>Future Size</td>
      <td><input type="text" id="future-size"/></td>
    </tr>
  </table>
{{/if}}
