<div class="section">
  <h1>Authentication</h1>
  <p>
    {{#if auth.show_edit}}
      <input type="text" id="auth-password" placeholder="password" />
      <button class="auth-save">Save</button>
      {{#if auth.password }}
        <button class="auth-cancel">Cancel</button>
      {{/if}}
    {{else}}
      Using password <em>{{auth.password}}</em>
      <button class="auth-edit">Edit</button>
      <button class="auth-clear">Clear</button>
    {{/if}}
  </p>
  <h2>Permissions</h2>
  <ul>
    {{#if auth.permissions.read}}
      <li>Reading the library, current playlist, and playback status</li>
    {{/if}}
    {{#if auth.permissions.add}}
      <li>Adding songs, loading playlists, and uploading songs.</li>
    {{/if}}
    {{#if auth.permissions.control}}
      <li>Control playback state, and manipulate playlists.</li>
    {{/if}}
    {{#if auth.permissions.admin}}
      <li>Deleting songs, updating tags, organizing library.</li>
    {{/if}}
  </ul>
</div>
<div class="section">
  <h1>Last.fm</h1>
  {{#if lastfm.username}}
    <p>
      Authenticated as
      <a href="http://last.fm/user/{{lastfm.username}}">{{lastfm.username}}</a>.
      <button class="signout">Sign out</button>
    </p>
    <p>
      Scrobbling is <input type="checkbox" id="toggle-scrobble"{{#if lastfm.scrobbling_on}} checked="checked"{{/if}}><label for="toggle-scrobble">{{#if lastfm.scrobbling_on}}On{{else}}Off{{/if}}</label>
    </p>
  {{else}}
    <p>
      <a href="{{lastfm.auth_url}}">Authenticate with Last.fm</a>
    </p>
  {{/if}}
</div>
<div class="section">
  <h1>About</h1>
  <ul>
    <li><a href="{{misc.stream_url}}">Stream URL</a></li>
    <li><a href="http://github.com/superjoe30/groovebasin">GrooveBasin on GitHub</a></li>
  </ul>
</div>
