<input type="text" id="filter">
<select id="organize">
  <option selected="selected">Artist / Album / Song</option>
</select>
{{#if artists}}
  <ul>
    {{#artists}}
      <li class="expand"><a href="#" class="artist">{{name}}</a>
        <ul>
          {{#hash albums}}
            <li class="expand"><a href="#" class="album">{{key}}</a>
              <ul>
                {{#each val}}
                  <li>
                    <a href="#" class="track" data-file="{{file}}">{{Track}}. {{Title}}</a>
                  </li>
                {{/each}}
              </ul>
            </li>
          {{/hash}}
        </ul>
      </li>
    {{/artists}}
  </ul>
{{else}}
  Empty library
{{/if}}

