<div>
  <input type="text" id="lib-filter" placeholder="filter">
  <select id="organize">
    <option selected="selected">Artist / Album / Song</option>
  </select>
</div>
{{#if artists}}
  <ul>
    {{#artists}}
      <li class="expand"><a href="#" class="artist">{{name}}</a>
        <ul>
          {{#hash albums}}
            <li class="expand"><a href="#" class="album">{{name}}</a>
              <ul>
                {{#hash tracks orderby="track,name"}}
                  <li>
                  <a href="#" class="track" data-file="{{file}}">{{#if track}}{{track}}. {{/if}}{{name}}</a>
                  </li>
                {{/hash}}
              </ul>
            </li>
          {{/hash}}
        </ul>
      </li>
    {{/artists}}
  </ul>
{{else}}
  Empty library
{{/if}}

