{{#if artists}}
  <ul id="library-items">
    {{#artists}}
      <li>
        <div class="artist hoverable expandable">
          <div class="ui-icon ui-icon-triangle-1-e"></div>
          <span>{{name}}</span>
        </div>
        <ul style="display: none;">
          {{#albums}}
            <li>
              <div class="album hoverable expandable">
                <div class="ui-icon ui-icon-triangle-1-e"></div>
                <span>{{name}}</span>
              </div>
              <ul style="display: none;">
                {{#tracks}}
                  <li>
                    <div class="track hoverable" data-file="{{file}}">
                      <span>{{#if track}}{{track}}. {{/if}}{{#if artist_disambiguation}}{{artist_disambiguation}} - {{/if}}{{name}}</span>
                    </div>
                  </li>
                {{/tracks}}
              </ul>
            </li>
          {{/albums}}
        </ul>
      </li>
    {{/artists}}
  </ul>
{{else}}
  Empty library
{{/if}}

