<div>
  <a href="#" class="clear">Clear</a>
  <a href="#">Save</a>
  <input type="text" id="pl-filter" placeholder="filter">
  <a href="#">Random Mix</a>
  <a href="#" class="repopulate">Repopulate</a>
</div>
{{#if playlist}}
  <table>
    <tr>
      <th>Track</th>
      <th>Title</th>
      <th>Artist</th>
      <th>Album</th>
      <th>Length</th>
      <th>Actions</th>
    </tr>
    {{#playlist}}
      <tr>
        <td>{{track.track}}</td>
        <td>
          <a href="#" class="track" data-id="{{id}}">{{track.name}}</a>
        </td>
        <td>{{track.artist.name}}</td>
        <td>{{track.album.name}}</td>
        <td>{{track.time}}</td>
        <td>
          <a href="#" class="remove" data-id="{{id}}">Remove</a>
        </td>
      </tr>
    {{/playlist}}
  </table>
{{/if}}
