<div class="header">
  <span class="track">&nbsp;</span>
  <span class="title">Title</span>
  <span class="artist">Artist</span>
  <span class="album">Album</span>
  <span class="time">Time</span>
</div>
{{#if playlist}}
  <div id="playlist-items">
    {{#playlist}}
      <div class="pl-item" id="playlist-track-{{id}}" data-id="{{id}}">
        <span class="track">{{track.track}}</span>
        <span class="title">{{track.name}}</span>
        <span class="artist">{{track.artist_name}}</span>
        <span class="album">{{track.album_name}}</span>
        <span class="time">{{time track.time}}</span>
      </div>
    {{/playlist}}
  </div>
{{/if}}
