{{#if playlist}}
  <div id="playlist-items">
    <table>
      <tr>
        <th>Track</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Length</th>
        <th>Actions</th>
      </tr>
      {{#playlist}}
        <tr{{#if id}} id="playlist-track-{{id}}"{{/if}}>
          <td>{{track.track}}</td>
          <td>
            <a href="#" class="track" data-id="{{id}}">{{track.name}}</a>
          </td>
          <td>{{track.artist.name}}</td>
          <td>{{track.album.name}}</td>
          <td class="time">{{time track.time}}</td>
          <td>
            <a href="library/{{track.file}}" target="_blank">Download</a>
            <a href="#" class="remove" data-id="{{id}}">Remove</a>
          </td>
        </tr>
      {{/playlist}}
    </table>
  </div>
{{/if}}
