<div>
  <a href="#" class="clear">Clear</a>
  <a href="#">Save</a>
  <input type="text" id="pl-filter" placeholder="filter">
  <a href="#">Random Mix</a>
  <a href="#" class="repopulate">Repopulate</a>
</div>
<ul>
  {{#playlist}}
    <li>
    <a href="#" class="track" data-id="{{id}}">{{#if track.track}}{{track.track}}.
      {{/if}}{{track.name}} - {{track.artist.name}} - {{track.album.name}}</a>
    </li>
  {{/playlist}}
</ul>
