{{#if playlist}}
  <div id="playlist-items">
    <table>
      <tr>
        <th>&nbsp;</th>
        <th>Title</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Length</th>
        <th>Actions</th>
      </tr>
      {{#playlist}}
        <tr id="playlist-track-{{id}}">
          <td>{{track.track}}</td>
          <td>{{track.name}}</td>
          <td>{{track.artist_name}}</td>
          <td>{{track.album_name}}</td>
          <td class="time">{{time track.time}}</td>
          <td>
            <a href="library/{{track.file}}" target="_blank">Download</a>
            <a href="#" class="remove" data-id="{{id}}">Remove</a>
          </td>
        </tr>
      {{/playlist}}
    </table>
  </div>
{{/if}}
