online users:
<ul>
{{#each users}}
  <li>
    <span class="{{class}}">{{user_name}}</span>
  </li>
{{/each}}
</ul>
{{#if chats}}
  <hr/>
  chatter:
  <ul>
    {{#each chats}}
      <li>
        <span class="{{class}}">{{user_name}}</span>: {{message}}
      </li>
    {{/each}}
  </ul>
{{/if}}
