<h1>Last.fm</h1>
{{#if lastfm.username}}
  <p>
    Authenticated as
    <a href="http://last.fm/user/{{lastfm.username}}">{{lastfm.username}}</a>.
    <button class="signout">Sign out</button>
  </p>
  <p>
    Scrobbling is <input type="checkbox" id="toggle-scrobble"{{#if lastfm.scrobbling_on}} checked="checked"{{/if}}><label for="toggle-scrobble">{{#if lastfm.scrobbling_on}}On{{else}}Off{{/if}}</label>
  </p>
{{else}}
  <p>
    <a href="{{lastfm.auth_url}}">Authenticate with Last.fm</a>
  </p>
{{/if}}
